
modules = ["python-3.10"]
run = "./start.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "./start.sh"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 34307324
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start.sh"
